* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(to bottom right, #fee2e2, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  height: 24rem;
  width: 18rem;
  background-color: #ffffff30;
  backdrop-filter: blur(12px);
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  position: relative;
}

#shoe {
  height: 11rem;
  position: absolute;
  top: 3.5rem;
  left: 0;
  transition: all ease 0.4s;
  filter: drop-shadow(5px 8px 10px rgba(0, 0, 0, 0.489));
}

#shoe-name {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  color: rgb(220, 38, 38);
  position: absolute;
  left: 2.8rem;
  bottom: 5.3rem;
}

#shoe-price {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 0.025;
  position: absolute;
  left: 6rem;
  bottom: 2.3rem;
}

#bottom {
  height: 8rem;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

#shoe-details {
  width: 100%;
  max-height: 100%;
  padding: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0.5rem;
}

#button {
  height: 2.5rem;
  width: 100%;
  padding-inline: 2.5rem;
  border: 2px solid rgb(220, 38, 38);
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#button > a {
  color: rgb(220, 38, 38);
}

#button:hover {
  background-color: rgb(220, 38, 38);
}

#button:hover a {
  color: #fff;
}

#card:hover #shoe {
  filter: drop-shadow(5px 10px 12px rgba(26, 26, 26, 0.749));
  animation: slideup ease-in-out 0.3s forwards;
}

#card:not(#card:hover) #shoe {
  animation: slidedown ease-in-out 0.3s;
}

#card:hover #shoe-name {
  animation: name-up ease-in-out 0.3s forwards;
}

#card:not(#card:hover) #shoe-name {
  animation: name-down ease-in-out 0.3s forwards;
}

#card:hover #shoe-price {
  animation: price-up ease-in-out 0.4s forwards;
}
#card:not(#card:hover) #shoe-price {
  animation: price-down ease-in-out 0.3s forwards;
}

#shoe-details {
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}

#card:hover #shoe-details {
  opacity: 1;
  visibility: visible;
  animation: details-down ease-in-out 0.3s forwards;
}

#card:not(#card:hover) #shoe-details {
  animation: details-up ease-in-out 0.3s forwards;
}

a svg {
  height: 1.2rem;
  margin: 0.15rem 0.5rem 0 0.5rem;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.85rem;
  margin-block: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideup {
  100% {
    left: -20px;
    top: -80px;
    transform: rotate(-30deg);
  }
}

@keyframes slidedown {
  from {
    left: -20px;
    top: -80px;
    transform: rotate(-30deg);
  }
}

@keyframes name-up {
  80% {
    left: 20px;
  }
  100% {
    left: 20px;
    font-size: 2.25rem;
    bottom: 180px;
  }
}
@keyframes name-down {
  from {
    left: 20px;
    bottom: 180px;
    font-size: 2.25rem;
  }
}

@keyframes price-up {
  to {
    left: 25px;
    bottom: 135px;
    font-size: 1.3rem;
  }
}
@keyframes price-down {
  from {
    left: 25px;
    bottom: 135px;
    font-size: 1.3rem;
  }
}
@keyframes details-up {
  to {
    bottom: -50px;
  }
}
@keyframes details-down {
  from {
    bottom: -130px;
  }
}
