* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf7f7;
}

.heading {
  margin-block: 1rem;
  font-size: 2.5rem;
}

.desc {
  width: 30rem;
  text-align: center;
}

.form {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  height: 25rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 1px 2px 15px#5353533b;
}

input {
  height: 3rem;
  width: 30rem;
  border: 1px solid gray;
  border-radius: 4px;
  padding-inline: 1rem;
}

button {
  height: 3rem;
  width: 30rem;
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 4px;
}

.result {
  color: #3f3f3f;
}

footer {
  position: fixed;
  bottom: 1rem;
}
